:root {
    --col-bg-dark:#2356F6;
    --col-bg-light:#3768FF;
    --gap: 30px;
    --col-green: #ABFC4F;
    --col-white: #FFFFFF;
    --col-grey: #F2F2F2;
    --col-black: #141414;
    --font-col: #0E0E0E;
}