@import url("reset.css");
@import url("variables.css");
/* @import url("fonts.css"); */



.body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    background-color: var(--col-bg-dark);
}

h1, h2,h3,h4 {
    font-size: 75px;
    font-weight: 600;
    line-height: 82px;
    color: var(--col-white);
    text-transform: uppercase;
}

p {
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: var(--col-white);
}


.header {
    width: 100%;
    height: 90px;
    background: var(--col-white);
    border-radius: 0px 0px 40px 40px;
    padding: 23px 70px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 9999;
}
.header__logo {
    height: 100%;
    width: auto;
}
.nav {
    display: flex;
    flex-direction: row;
    column-gap: 45px;
}
.nav__link {
    padding: 7px 16px;
    background: var(--col-grey);    
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--font-col);
    border-radius: 20px;
    text-decoration: none;
}
.nav__link--selected, .nav__link:hover {
    background-color: var(--col-green);
}

.title + .text , .text + .text {
    margin-top: 50px;
}

@media (min-width: 1024px) {
    h1 {
        font-size: 39px;
        line-height:82px;
    }
}
@media (min-width: 834px) {
    h1 {
        font-size: 39px;
        line-height:82px;
    }
}

p {
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: var(--col-white);
}
@media (min-width: 1024px) {
    p {
        font-size: 18px;
        line-height:26px;
    }
}
@media (min-width: 834px) {
    p {
        font-size: 18px;
        line-height:26px;
    }
}

.header {
    width: 100%;
    height: 90px;
    background: var(--col-white);
    border-radius: 0px 0px 40px 40px;
    padding: 23px 70px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 9999;
}
.header__logo {
    height: 100%;
    width: auto;
}
.nav {
    display: flex;
    flex-direction: row;
    column-gap: 45px;
}
.nav__link {
    padding: 7px 16px;
    background: var(--col-grey);    
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--font-col);
    border-radius: 20px;
    text-decoration: none;
}
.nav__link--selected, .nav__link:hover {
    background-color: var(--col-green);
}

.title + .text , .text + .text {
    margin-top: 50px;
}
@media (min-width: 1024px) {
    p {
        margin-top: 0px;
    }
}
@media (min-width: 834px) {
    p {
        margin-top: 0px;
    }
}