@import url("common.css");

.post {
    padding: 155px 100px 65px;
}

.post-wrapper {
    margin-top: 126px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "title title note"
    "text text text"
    "img img img";
    column-gap: 80px;
    row-gap: 60px;
}

.post__title {
    grid-area: title;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    padding: 25px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 26.4222px;
    text-align: center;
    text-transform: initial;
}

.post__note {
    grid-area: note;
    font-weight: 600;
    font-size: 32px;
    line-height: 37px;
    color: rgba(255, 255, 255, 0.7);
    border: 3px solid #4F78F8;
    border-radius: 21px;
    text-align: center;
    padding: 25px 30px;
}

.post__text {
    grid-area: text;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 49px;
    padding: 70px 45px;
}

.post__img {
    grid-area: img;
}

